body {
  height: 100vh;
  margin: 0;
    background: linear-gradient(to bottom, #fbc2eb, #a6c1ee);
}


header {
  text-align: center;
  color: #f9f9f9;
  font-family: Arial, sans-serif;
  font-size: 200%
}

strong {
  text-align: center;
  color: #f9f9f9;
  font-family: Arial, sans-serif;
}
  
main {
  color: #f9f9f9;
  font-family: Arial, sans-serif;
}
