head {
  background-color: linear-gradient(to top,#fbc2eb 0%,#a6c1ee 100%);
}

header {
  text-align: center;
  color: #f9f9f9;
  .great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}
  font-size: 200%
}

strong {
  text-align: center;
  color: #f9f9f9;
  font-family: Arial, sans-serif;
}
  
main {
  color: #f9f9f9;
  font-family: Arial, sans-serif;
}
