body{
  background-color: linear-gradient
    (
          to right, 
          rgb(113, 65, 168), 
          rgba(44, 114, 251, 1)
      );
    }

title {
  text-align: center;
  color: #f9f9f9;
  font-family: Arial, sans-serif;
  font-size: 100%;
}
